@import "bootstrap_variables";
@import "alien-variables";

.topology-editor {
  overflow: hidden !important;
}

@media(min-width: $screen-sm-min) {
  .topology-editor {
    margin-left: -20px;
    margin-right: -20px;
  }
}

@media(min-width: $screen-md-min) {
  .topology-editor {
    margin-left: -20px;
    margin-right: -20px;
  }
}

.topology-row {
  display: table;
  table-layout: fixed;
  width: 100%;
}

.topology-padding-top {
  padding-top: 20px;
}

.topology-column {
  display: table-cell;
  height: inherit;
  vertical-align: top;
}

.topology-column-box {
  height: inherit;
  background-color: white;
  position: relative;
}

.topology-column-menu {
  position: absolute;
  top: 0px;
  width: 20px;
  height: inherit;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: $gray-lighter;
  text-align: center;
}

.topology-column-menu-left {
  left: 0px;
  border-left: solid 1px #cccccc;
}

.topology-column-menu-right {
  right: 0px;
  border-right: solid 1px #cccccc;
}

.topology-column-content {
  padding-left: 20px;
  height: inherit;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.topology-column-content-left {
  padding-right: 20px;
  height: inherit;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.topology-column-content-head {
  font-weight: 500;
  margin-bottom: 5px;
  border-bottom: 1px solid $brand-primary;
  padding-bottom: 5px;
  padding-left: 10px;
}

.topology {
  background-color: white;
  padding: 0px;
  margin: 0px;
  cursor: move;
}

.application-deployment-flavor-selected {
  background-color: #F5F5F5;
}

.clickable {
  cursor: pointer;
}

.clickable:hover {
  background-color: whitesmoke;
}

.topology-level {
  // padding-left:20px;
}

.cardinalities_show {
  cursor: text;
/*   pointer-events: none; */
  opacity: 0.65;
  filter: alpha(opacity=65);
  box-shadow: none;
}

.cardinalities_show:hover, .cardinalities_show:focus, .cardinalities_show:active {
  background-color: white;
  border-color: #cccccc;
}

.input-xs {
  height: 20px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}

.fa.pull-left {
  margin-top: .2em;
}

h4 .editable-error {
  font-size: 14px;
}

#relationshipProperties .form-editable {
  margin-top: 0px;
}

#editor-head-menu .ui-select-placeholder {
  display: none;
}

#editor-head-menu {
  margin-top: -10px;
  padding: 2px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #666666;
  color: white;
}

#editor-head-menu .ui-select-container {
  min-width: 140px;
  display: inline-block;
  vertical-align: text-top;

  span {
    height: 22px;
    outline: 0px none;
    padding: 0px;
    font-size: 12px;
    padding-top: 1px;

    i {
      left: 92%;
    }
  }

  input {
    height: 22px;
    outline: 0px none;
    padding: 0px;
    font-size: 12px;
    padding-top: 1px;
  }
}

/*
  Vertical menu
*/
.close-btn-panel {
  border-color: white;
}

.close-panel {
  float: right;
  cursor: pointer;
}

#topology-vertical-menu {
  width: 20px;
}

#topology-vertical-menu ul, #topology-vertical-menu li{
  list-style: none;
  margin: 0;
  padding: 0;
}

#topology-vertical-menu li {
  font-size: 12px;
  cursor: pointer;
  display: inline-block;
  line-height: 20px;
  overflow: hidden;
  width: 20px;
}

#topology-vertical-menu span {
  display: inline-block;
  -moz-transform: translate(20px, 0) rotate(90deg);
  -ms-transform: translate(20px, 0) rotate(90deg);
  -o-transform: translate(20px, 0) rotate(90deg);
  -webkit-transform: translate(20px, 0) rotate(90deg);
  transform: translate(20px, 0) rotate(90deg);
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  white-space: nowrap;
  margin: 10px 0;
}

#topology-vertical-menu span::after {
  content: "";
  float: left;
  margin-top: 100%;
}

#topology-vertical-menu li:hover {
  background-color: darken($btn-default-bg, 10%);;
}

.topology-props-section {
  background-color: $gray-lighter;
  overflow: auto;
  // color: white;
  border-top: solid 1px #cccccc;
}

// inputs/outputs buttons column
.topology-props-td-inp {
  width: 60px;
}
// info button column
.topology-props-td-inf {
  width: 35px;
}

#runtime-events-box .runtime-events-table tbody tr td:last-child {
  white-space: pre-wrap;
}
