<div>

  <div class="row" style="margin-bottom: 10px;">
    <!--  Create button -->
    <div class="col-md-9">
      <button class="btn btn-success" id="app-env-new-btn" ng-click="openNewAppEnv()">
        <i class="fa fa fa-plus-circle"></i> {{'APPLICATIONS.ENVIRONMENT.NEW' | translate}}
      </button>
    </div>
  </div>

  <div class="row" style="margin-top: 10px;">
    <div class="col-md-12">
      <div class="table-responsive large-data-container" id="users-table">
        <table class="table">
          <thead>
            <tr>
              <th>{{'APPLICATIONS.ENVIRONMENT.STATUS' | translate}}</th>
              <th>{{'COMMON.NAME' | translate}}</th>
              <th>{{'COMMON.VERSION' | translate}}</th>
              <th>{{'COMMON.TYPE' | translate}}</th>
              <th>{{'COMMON.DESCRIPTION' | translate}}</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="environment in environments | orderBy:'name' track by environment.id" id="{{environment.id}}">
              <td>
                <i class="pull-left fa fa-2x vertical-center" tooltip="{{'DEPLOYMENT.STATUS.' + environment.status | translate }}" tooltip-append-to-body="true" ng-class="{
                  'fa-circle text-success' : environment.status == 'DEPLOYED',
                  'fa-circle text-muted' : environment.status == 'UNDEPLOYED',
                  'fa-warning text-warning' : environment.status == 'WARNING',
                  'fa-circle text-danger' : environment.status == 'FAILURE',
                  'fa-question-circle text-muted' : environment.status == 'UNKNOWN',
                  'fa-spinner fa-spin' : environment.status == 'DEPLOYMENT_IN_PROGRESS' || environment.status == 'UNDEPLOYMENT_IN_PROGRESS'
                }"></i>
              </td>
              <td id="{{environment.name}}-name-td"><span editable-text="environment.name" onbeforesave="updateApplicationEnvironment('name',$data, environment.id, environment.name)" buttons="no" style="font-style:inherit;" blur="submit">{{environment.name}} <i class="fa fa-edit"></i></span></td>
              <td ng-init="newAppVersion = getVersionByName(environment.currentVersionName)">
                <ui-select name="applicationVersionsList" id="{{environment.name}}-versionslistid" ng-model="newAppVersion" theme="bootstrap" ng-disabled="disabled" append-to-body="true" on-select="updateApplicationEnvironment('currentVersionId', newAppVersion.version, environment.id)" reset-search-input="true" close-on-select="true">
                  <ui-select-match placeholder="Select or search a version...">{{$select.selected.version | limitTo: 20}}{{$select.selected.version.length > 20 ? '...' : ''}}</ui-select-match>
                  <ui-select-choices repeat="appVersion in archiveVersions | filter: $select.search">
                    <span ng-bind-html="appVersion.version | limitTo: 20 | highlight: $select.search"></span>
                    {{appVersion.version.length > 20 ? '...' : ''}}
                  </ui-select-choices>
                </ui-select>
              </td>
              <td>
                <select class="form-control" name="envList" id="{{environment.name}}-envlistid" ng-model="environment.environmentType" ng-options="'ENVIRONMENT_TYPE.'+e | translate for e in envTypeList.data" ng-change="updateApplicationEnvironment('environmentType', environment.environmentType, environment.id)"></select>
              </td>
              <td><span editable-text="environment.description" onbeforesave="updateApplicationEnvironment('description',$data, environment.id)" buttons="no" style="font-style:inherit;" blur="submit">{{environment.description}} <i class="fa fa-edit"></i></span></td>
              <td>
                <!-- Remove an environment -->
                <delete-confirm class="pull-right" id="delete-env_{{environment.name}}" func="delete(environment.id)" position="left" bssize="btn-sm" fastyle="fa-trash-o">
                </delete-confirm>
              </td>
            </tr>
          </tbody>
        </table>
        <pagination-directive pagination-info="searchService.pagination" />
      </div>
    </div>
  </div>

  <script type="text/ng-template" id="newApplicationEnvironment.html">
    <form name="newApplicationEnvironment" class="form-horizontal" role="form" ng-submit="create(newApplicationEnvironment.$valid,selectedEnvType,selectedVersion.id)" novalidate>
      <div class="modal-header">
        <h3>{{'APPLICATIONS.ENVIRONMENT.NEW' | translate}}</h3>
      </div>
      <div class="modal-body">
        <div class="form-group" ng-class="{'has-error': newApplicationEnvironment.name.$invalid}">
          <label for="nameid" class="col-lg-3 control-label">{{'COMMON.NAME' | translate}}</label>
          <div class="col-lg-9">
            <input type="text" class="form-control" id="nameid" ng-model="environment.name" name="name" required="" placeholder="{{'COMMON.NAME' | translate}}">
          </div>
        </div>
        <div class="form-group">
          <label for="descid" class="col-lg-3 control-label">{{'COMMON.DESCRIPTION' | translate}}</label>
          <div class="col-lg-9">
            <textarea class="form-control" id="descid" rows="3" ng-model="environment.description" placeholder="{{'COMMON.DESCRIPTION' | translate}}"></textarea>
          </div>
        </div>
        <div class="form-group" ng-class="{'has-error': newApplicationEnvironment.envtypes.$invalid}">
          <label for="envtypelistid" class="col-lg-3 control-label">{{'APPLICATIONS.ENVIRONMENT.FORM.ENV_TYPE' | translate}}</label>
          <div class="col-lg-9">
            <select name="envtypes" required="" class="form-control" id="envtypelistid" ng-model="selectedEnvType" ng-options="'ENVIRONMENT_TYPE.'+e | translate for e in envTypeList.data">
              <option value="">{{'APPLICATIONS.ENVIRONMENT.FORM.ENV_TYPE_SELECT' | translate}}</option>
            </select>
          </div>
        </div>
        <div class="form-group" ng-class="{'has-error': newApplicationEnvironment.applicationVersions.$invalid}">
          <label for="versionlistid" class="col-lg-3 control-label">
            {{'APPLICATIONS.ENVIRONMENT.FORM.ENV_VERSION' | translate}}
          </label>
          <div class="col-lg-9">
            <select name="applicationVersions" required="" class="form-control" id="versionslistid" ng-model="selectedVersion" ng-options="v.version for v in versions">
              <option value="">{{'APPLICATIONS.ENVIRONMENT.FORM.ENV_VERSION_SELECT' | translate}}</option>
            </select>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button id="btn-create" ng-disabled="newApplicationEnvironment.$invalid" class="btn btn-primary">{{'CREATE' | translate}}</button>
        <button id="btn-cancel" class="btn btn-default" ng-click="cancel()">{{'CANCEL' | translate}}</button>
      </div>
    </form>
  </script>

</div>
