<div class="row">
  <div class=col-md-6>
    <div class="col-md-4" style="text-align: center;">
      <!-- Image section -->
      <div id="am.applications.detail.drag-and-drop" class="drop-box" ng-show="!application.imageId && isManager" ng-file-drop="onImageSelected($files)">{{'APPLICATIONS.IMAGE_UPLOAD' | translate}}</div>
      <img ng-show="noshow = (application.imageId && isManager)" ng-src="{{application.imageId?('img?id=' + application.imageId + '&quality=QUALITY_128'):null}}" ng-file-drop="onImageSelected($files)" />
      <img ng-show="!noshow && application.imageId" ng-src="{{application.imageId?('img?id=' + application.imageId + '&quality=QUALITY_128'):null}}" />
    </div>
    <!-- Details section -->
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-12">
          <div class="h1" style="display: inline-block;" id="app-name" ng-switch="isManager">
            <span ng-switch-when="true" editable-text="application.name" buttons="no" e-required e-class="input-lg" onbeforesave="updateApplication('name',$data)" blur="submit" ng-if="isManager">
              {{application.name}} <i class="fa fa-edit"></i>
            </span>
            <span ng-switch-default>
              {{application.name}}
            </span>
          </div>
        </div>
      </div>
    </div>

    <!-- Description -->
    <div class="col-md-12" style="margin-top: 20px;">
      <div class="row" style="margin-top: 10px;">
        <div class="col-md-4">
          <strong>{{'COMMON.DESCRIPTION' | translate }}</strong>
        </div>
        <div class="col-md-8" id="app-desc" ng-switch="isManager">
          <span ng-switch-when="true" editable-textarea="application.description" buttons="no" e-required onbeforesave="updateApplication('description',$data)" blur="submit">
            {{application.description}} <i class="fa fa-edit"></i>
          </span>
          <span ng-switch-default>
            {{application.description}}
          </span>
        </div>
      </div>
      <div class="row" style="margin-top: 10px;">
        <div class="col-md-4">
          <strong>{{'CREATION_DATE' | translate }}</strong>
        </div>
        <div class="col-md-8">{{application.creationDate | date:'medium'}}</div>
      </div>
      <div class="row" style="margin-top: 10px;">
        <div class="col-md-4">
          <strong>{{'UPDATE_DATE' | translate }}</strong>
        </div>
        <div class="col-md-8">{{application.lastUpdateDate | date:'medium'}}</div>
      </div>
    </div>
  </div>

  <!-- Meta Properties and tags -->
  <div class=col-md-6>
    <div class="row" style="margin-top: 10px;">
      <div ng-if="isManager" class="pull-right">
        <delete-confirm id="btn-delete-app" ng-if="isManager" func="removeApplication(application.id)" position="left" bssize="btn-sm" fastyle="fa-trash-o">
        </delete-confirm>
      </div>
    </div>
    <!-- Meta Properties display -->
    <meta-properties-display
      ng-if="isManager && application.metaProperties"
      properties-type="'application'"
      target="application"
      resturl="'rest/v1/applications/:applicationId/properties'"
      params="{applicationId: application.id}"
      collapse="false">
    </meta-properties-display>
    <!-- End Meta Properties display -->

    <!-- Tags display -->
    <div class="row" style="margin-top: 10px;" ng-if="isManager || application.tags.length>0">
      <div class="col-md-12">
        <strong>Tags</strong>
      </div>
    </div>
    <div class="row" style="margin-top: 10px;">
      <div class="col-md-12">
        <div class="table-responsive">
          <table class="table table-condensed">
            <tr ng-repeat="tag in application.tags" ng-if="!isInternalTag(tag.name)">
              <td>
                <span>
                  <strong>{{tag.name}}</strong>
                </span>
              </td>
              <td ng-switch="isManager">
                <span ng-switch-when="true" editable-text="application.tags[$index].value" ng-show="isManager" buttons="no" e-required onaftersave="updateTag(tag.name,$data)" blur="submit">
                  {{tag.value}}
                  <i class="fa fa-pencil-square-o"></i>
                </span>
                <span ng-switch-default="true">
                  {{tag.value}}
                </span>
              </td>
              <td>
                <a ng-click="deleteTag(tag)" ng-show="isManager">
                  <i class="fa fa-trash-o text-danger"></i>
                </a>
              </td>
            </tr>
            <tr>
              <td colspan="3" ng-show="isManager">
                <form name="formAddTag" class="form-inline" ng-submit="addTag(newTag)">
                  <div ng-class="{'form-group':true, 'has-error': newTag.val && formAddTag.tagkey.$invalid}">
                    <input type="text" class="form-control" id="input-key" name="tagkey" ng-model="newTag.key" ng-pattern="tagKeyPattern" typeahead="item for item in tagSuggestion.get($viewValue)" typeahead-min-length="tagSuggestion.minLength" required/>
                  </div>
                  <!-- Don't remove : Space between 2 inputs -->
                  <div class="form-group">
                    <input type="text" class="form-control" id="input-value" name="tagvalue" ng-model="newTag.val"/>
                  </div>
                  <div class="form-group">
                    <button ng-disabled="formAddTag.tagkey.$invalid" type="submit" class="btn btn-primary btn-sm" id="btn-add-tag">
                      <i class="fa fa-plus-circle"></i>
                    </button>
                  </div>
                  <div class="form-group">
                    <p ng-class="{'text-danger': formAddTag.tagkey.$invalid}" ng-show="newTag.val && formAddTag.tagkey.$invalid">
                      {{ 'COMPONENTS.FORM_ERRORS.TAG_KEY' | translate }}
                    </p>
                  </div>
                </form>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <!-- End Tags display -->
  </div>
</div>

<div class="row" style="margin-top: 10px;">
  <div class="col-md-12">
    <fieldset>
      <legend style="text-align: center;">
        <h3><i class="fa fa-share-alt-square"></i> {{'APPLICATIONS.ENVIRONMENT.ENV' | translate}}</h3>
      </legend>
      <div class="row col-md-12" ng-if="appEnvironments.environments.length < 10">
        <tabset>
          <tab ng-repeat="e in appEnvironments.environments" id="tab-env-{{e.name}}" select="setEnvironment(e.id)" active="e.active">
            <tab-heading>
              <i class="pull-left fa fa-x" tooltip="{{'DEPLOYMENT.STATUS.' + e.status | translate }}" tooltip-append-to-body="true" ng-class="{
                'fa-circle text-success' : e.status == 'DEPLOYED',
                'fa-circle text-muted' : e.status == 'UNDEPLOYED',
                'fa-warning text-warning' : e.status == 'WARNING',
                'fa-circle text-danger' : e.status == 'FAILURE',
                'fa-question-circle text-muted' : e.status == 'UNKNOWN',
                'fa-spinner fa-spin' : e.status == 'DEPLOYMENT_IN_PROGRESS' || e.status == 'UNDEPLOYMENT_IN_PROGRESS'
              }"></i> {{e.name}}
            </tab-heading>
            <div>
              <display-outputs></display-output>
            </div>
          </tab>
        </tabset>
      </div>
      <div class="row col-md-12" ng-if="appEnvironments.environments.length >= 10">
        <ui-select ng-model="selectedEnvironment" on-select="setEnvironment(selectedEnvironment.id)" reset-search-input="true" close-on-select="true" append-to-body="true" theme="bootstrap">
          <ui-select-match placeholder="Select or search an environment...">
             <i class="pull-left fa fa-x" tooltip="{{'DEPLOYMENT.STATUS.' + e.status | translate }}" tooltip-append-to-body="true" ng-class="{
               'fa-circle text-success' : $select.selected.status == 'DEPLOYED',
               'fa-circle text-muted' : $select.selected.status == 'UNDEPLOYED',
               'fa-warning text-warning' : $select.selected.status == 'WARNING',
               'fa-circle text-danger' : $select.selected.status == 'FAILURE',
               'fa-question-circle text-muted' : $select.selected.status == 'UNKNOWN',
               'fa-spinner fa-spin' : $select.selected.status == 'DEPLOYMENT_IN_PROGRESS' || $select.selected.status == 'UNDEPLOYMENT_IN_PROGRESS'
             }"></i> {{$select.selected.name}}</ui-select-match>
          <ui-select-choices repeat="e in appEnvironments.environments | filter: $select.search | orderBy: 'name'">
            <i class="fa fa-x" tooltip="{{'DEPLOYMENT.STATUS.' + e.status | translate }}" tooltip-append-to-body="true" ng-class="{
              'fa-circle text-success' : e.status == 'DEPLOYED',
              'fa-circle text-muted' : e.status == 'UNDEPLOYED',
              'fa-warning text-warning' : e.status == 'WARNING',
              'fa-circle text-danger' : e.status == 'FAILURE',
              'fa-question-circle text-muted' : e.status == 'UNKNOWN',
              'fa-spinner fa-spin' : e.status == 'DEPLOYMENT_IN_PROGRESS' || e.status == 'UNDEPLOYMENT_IN_PROGRESS'
            }"></i> <span ng-bind-html="e.name | highlight: $select.search"></span>
          </ui-select-choices>
        </ui-select>
        <div>
          <display-outputs></display-output>
        </div>
      </div>
    </fieldset>
  </div>
</div>
