<div>
  <div class="row" style="margin-top: 10px;">
    <div class="col-md-3">
      <ui-select ng-if="envs" ng-model="deploymentContext.selectedEnvironment" on-select="onEnvironmentChange()" reset-search-input="true" close-on-select="true" append-to-body="true" theme="bootstrap">
        <ui-select-match placeholder="Select or search an environment...">{{$select.selected.name}}</ui-select-match>
        <ui-select-choices repeat="env in envs | filter: $select.search | orderBy: 'name'">
          <span ng-bind-html="env.name | highlight: $select.search"></span>
        </ui-select-choices>
      </ui-select>
    </div>
    <!--  Environment status -->
    <div class="col-md-3">
      <i class="fa fa-2x vertical-center" tooltip="{{'DEPLOYMENT.STATUS.' + deploymentContext.selectedEnvironment.status | translate }}"
         tooltip-append-to-body="true" ng-class="{
            'fa-circle text-success' : deploymentContext.selectedEnvironment.status === 'DEPLOYED',
            'fa-circle text-muted' : deploymentContext.selectedEnvironment.status === 'UNDEPLOYED',
            'fa-warning text-warning' : deploymentContext.selectedEnvironment.status === 'WARNING',
            'fa-circle text-danger' : deploymentContext.selectedEnvironment.status === 'FAILURE',
            'fa-question-circle text-muted' : deploymentContext.selectedEnvironment.status === 'UNKNOWN',
            'fa-spinner fa-spin' : deploymentContext.selectedEnvironment.status === 'INIT_DEPLOYMENT' || deploymentContext.selectedEnvironment.status === 'DEPLOYMENT_IN_PROGRESS' || deploymentContext.selectedEnvironment.status == 'UNDEPLOYMENT_IN_PROGRESS'
          }">
      </i>

      <h4 style="display:inline; padding-left:5px; vertical-align:middle;">{{'DEPLOYMENT.STATUS.' + deploymentContext.selectedEnvironment.status | translate}}</h4>
    </div>

    <div class="col-md-6">
      <button id="btn-undeploy"
              type="button"
              class="btn btn-danger application-deploy-button"
              ng-disabled="deploymentContext.selectedEnvironment.status === 'UNDEPLOYMENT_IN_PROGRESS' || deploymentContext.selectedEnvironment.status === 'INIT_DEPLOYMENT'"
              ng-click="undeploy()"
              ng-if="deploymentContext.selectedEnvironment.status !== 'UNDEPLOYED' ">
        <i class="fa" ng-class="{'fa-stop': !isUnDeploying, 'fa-spinner fa-spin': isUnDeploying}"></i> {{'APPLICATIONS.UNDEPLOY' | translate}}
      </button>
    </div>
  </div>
  <hr class="separator-h">
  <!-- DEPLOYMENT CONFIGURATION -->
  <div class="row" style="margin-top: 10px"
    ng-if="deploymentContext.selectedEnvironment && validTopologyDTO.valid">
    <div class="col-md-12">
      <ul class="nav nav-tabs">
        <li role="presentation" ng-repeat="menuItem in menu" ui-sref-active="active"
            ng-class="{'disabled' : menuItem.disabled}">
          <a id="{{menuItem.id}}"
             ng-click="onItemClick($event, menuItem)"
             ui-sref="{{menuItem.state}}">
            <i class="{{menuItem.icon}}" ng-show="menuItem.icon" ng-class="{'text-muted' : menuItem.disabled}"></i> {{menuItem.key | translate}}
            <i class="fa fa-exclamation-triangle" ng-if="showStatusIcon(menuItem)" ng-class="{'text-danger': menuItem.step.status==='ERROR',
                                                             'text-warning': menuItem.step.status==='WARNING'}"></i>
          </a>
        </li>
      </ul>
      <div class="tab-pane" ui-view></div>
    </div>
  </div>
  <!-- If there is validation issues they are displayed here. -->
  <div class="row" style="margin-top: 10px">
    <div class="col-md-12">
      <!--  Task list -->
      <div class="row" ng-if="showTodoList()">
        <div id="deploymentTodoList" class="col-md-12">
          <h3 class="text-danger"><i class="fa fa-exclamation-triangle"></i> {{'APPLICATIONS.TOPOLOGY.TASK.VALIDATION_FAILED' | translate}}</h3>
          <button id="btn-go-topology-validation" type="button" class="btn btn-default" ng-click="goToTopologyValidation()">
            <span>{{'APPLICATIONS.TOPOLOGY.TASK.GO_TO_VALIDATION' | translate}}</span>
          </button>
        </div>
      </div>

      <!-- warning list -->
      <div class="row" ng-if="showWarningList()">
        <div id="deploymentWarningList" class="col-md-12">
          <h3 class="text-warning"><i class="fa fa-exclamation-triangle"></i> {{'APPLICATIONS.TOPOLOGY.WARNING.LABEL' | translate}}</h3>

          <div class="warning-list-box" ng-repeat="(taskCode, tasks) in validTopologyDTO.warningList" ng-switch="taskCode">

            <!--HA warning list -->
            <div ng-if="tasks.length>0" ng-switch-when="HA_INVALID">
              <h4 class="clickable" ng-init="isHAGroupWarningsCollapsed = false"
                   ng-click="isHAGroupWarningsCollapsed = !isHAGroupWarningsCollapsed">
                <i class="fa" ng-class="{'fa-caret-down' : !isHAGroupWarningsCollapsed , 'fa-caret-right': isHAGroupWarningsCollapsed }"></i>
                <span>{{'APPLICATIONS.TOPOLOGY.WARNING.HA_INVALID.LABEL' | translate}}</span>
              </h4>
              <div collapse="isHAGroupWarningsCollapsed" class="topology-level">
                <table class="table table-condensed">
                  <thead>
                    <th>{{'APPLICATIONS.TOPOLOGY.WARNING.HA_INVALID.GROUP' | translate}}</th>
                    <th>{{'COMMON.NODE' | translate}}</th>
                    <th>{{'APPLICATIONS.TOPOLOGY.WARNING.HA_INVALID.ERROR' | translate}}</th>
                  </thead>
                  <tbody>
                    <tr ng-repeat="haTask in tasks">
                      <td>{{haTask.groupId || '---'}}</td>
                      <td>{{haTask.nodeTemplateName || '---'}}</td>
                      <td>{{'APPLICATIONS.TOPOLOGY.WARNING.HA_INVALID.' + haTask.errorCode | translate}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <!-- End : HA warning -->

            <!-- Properties warning list -->
            <div ng-if="tasks.length>0" ng-switch-when="PROPERTIES">
              <h4 class="clickable" ng-init="isPropertiesGroupWarningsCollapsed = false"
                   ng-click="isPropertiesGroupWarningsCollapsed = !isPropertiesGroupWarningsCollapsed">
                <i class="fa"
                   ng-class="{'fa-caret-down' : !isPropertiesGroupWarningsCollapsed , 'fa-caret-right': isPropertiesGroupWarningsCollapsed }"></i>
                <span>{{'APPLICATIONS.TOPOLOGY.WARNING.PROPERTIES.LABEL' | translate}}</span>
              </h4>
              <div collapse="isPropertiesGroupWarningsCollapsed" class="topology-level">
                <table class="table table-condensed">
                  <thead>
                    <th>{{'COMMON.NODE' | translate}}</th>
                    <th>
                      <i class="fa fa-exclamation-triangle" tooltip="{{'APPLICATIONS.DEPLOYMENT.PROPERTIES.WARNING_MESSAGE' | translate}}"></i>
                      {{'COMMON.PROPERTIES' | translate}}
                    </th>
                  </thead>
                  <tbody>
                    <tr ng-repeat="task in tasks">
                      <td>{{task.nodeTemplateName || '---'}}</td>
                      <td>{{task.properties['WARNING'] | a2s:','}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>

            </div>
            <!-- End : properties warning -->
          </div>
          <!-- End : warning list display -->
        </div>
      </div>
    </div>
  </div>
</div>
